body {
  display: flex;
  flex-direction: column;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  align-items: center;
  padding: 0px 16px;
  font-size: 32px;
  font-weight: 900;
}

.main {
  display: flex;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 1 0 300px;
  padding: 16px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-bottom: 16px;
}

a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
